*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.contenedor{
    background-color: #1B1A17;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: repeat(7, auto);
    gap: 10px;
}
.contenedor >*{
    border-color: 2px solid rgb(45, 185, 45);
    background-color: #1B1A17;
}

@font-face {
    font-family: "BIZUDP";
    src: url(../fonts/BIZUDPMincho-Regular.ttf);
}
@font-face {
    font-family: raggedways;
    src: url(../fonts/Raggedways\ Regular.otf);
}
/*estilos h1 h2 y h3*/ 
h1{
    background-color: #1B1A17;
    color: #F0A500;
    font-size: 95px;
    font-family: raggedways;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-right: 90px;
}
h2{
    background-color: #1B1A17;
    color: #E45826;
    font-size: 45px;
    font-family: BIZUDP;
    text-align: center;
    margin-bottom: 35px;
    margin-left: 45px;
}
h3{
    background-color:#E45826;
    color:#F0A500;
    -webkit-text-stroke-color: #1B1A17;
    font-size: 50px;
    font-family: raggedways;
    text-align: center;
    border-radius: 50px;
    border-style: groove;
}
h4{
    background-color:#E45826;
    color:#F0A500;
    -webkit-text-stroke-color: #1B1A17;
    font-size: 25px;
    font-family: BIZUDP;
    text-align: center;
    border-radius: 50px;
    border-style: groove;
}
/*estilo carrito de compra y buscador*/
.carrito{
    width: 50px;
    height: 50px;
    color: #E45826;
    margin-left: 90%;
}
/*estilos del header*/
.header__prin{
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
}
.header{
    background-color: #1B1A17;
}
header{
    grid-column: 1 / span 6;
}
.header__img{
    width: 450px;
    height: 220px;
    margin-left: 42px;
}
.header__slogan{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*bootstrap*/
.menu{
background-color: #1B1A17;
}
.header__menu{
    color: #E45826;
    width: 120%;
    background-color: #1B1A17;
    font-size: 30px;
    font-family: BIZUDP;
    text-align: left;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*navbar-nav*/
.navbar-nav{
    overflow: hidden;
    background-color: #1B1A17;
}
.navbar-nav>a{
    float: left;
    display: block;
    color: #E45826;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}
/* estilos del main index*/
.cuerpo{
    background-color: #E6D5B8;
}
main{
    grid-column: 1 / span 6;
}
.cuerpo__supersale{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.parrafo__sale{
    margin: 50px;
    text-align:center;
    font-size: 35px;
}
.cuerpo__supersaleimg{
    top: 10px;
    left: 100px;
    margin-left: 25px;
    border-style: solid;
    border-color: #E45826;
}
.cuerpo__newarrivalsimg{
    width: 620px;
    height: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 42px;
    border-style: solid;
    border-color: #E45826;
}
.cuerpo__testproductsvid{
    width: 600px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 42px;
}
/*estilos main pages*/
.titlepages{
    color: #E45826;
    font-size: 30px;
    font-family: BIZUDP;
    text-align: center;
    background-color:#E6D5B8;
}
.main__pages>li>a{
    color:#E45826;
    font-size: 25px;
    font-family: BIZUDP;
    text-align: left;
    margin-left: 20px;
}
.main__pages{
    display: flex;
    justify-content: center;
}
.pag__img{
    display: flex;
    justify-content: space-between;
}
.pagesimg{
    max-width: 300px;
    width: 400px;
    height: 280px;
    margin-left: 45%;
    border-style: solid;
    border-color: #E45826;
}
.pages__supersaleimg{
    width: 550px;
    height: 380px;
    margin-left: auto;
    border-style: solid;
    border-color: #E45826;
}
/*estilos del footer*/
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #1B1A17;
    font-family: BIZUDP;
    color:#E45826;
    font-size: large;
}
footer{
    grid-column: 1 / span 6;
}
.footerimg{
    width: 160px; 
    height: 160px;
    background-color: #1B1A17;
    border-style: solid;
    border-color: #E45826;
    margin-bottom: 10px;
    margin-left: auto;
}
.footervisit{
    color:#E45826;
    text-decoration: none;
    font-size: large;
    margin-left: 42px;
}
.table{
    background-color:#1B1A17;
    font-size: large;
    color: #E45826;
    border-style: solid;
    border-color: #E45826;
    margin-left: 42px;
    }
.horarios{
    background-color:#1B1A17;
    font-size: large;
    margin-left: 42px;
}
.linehorarios,th,td{
    border:1px #E6D5B8;
    border-style: groove;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 42px;
}
.contactus{
    color:#E45826;
    text-decoration: none;
    font-size: large;
    margin: 42px;
}
/*transicion writeus*/
.importante{
    margin: auto;
    color: #1B1A17;
    text-align: start;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.fieldset{
    margin: auto;
    width: 120%;
    margin-top: 25px;
    margin-bottom: 15PX;
    background-color: #1B1A17;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #E45826;
    border-style: solid;
}
.fieldset>div:hover{
    transform: scaleY(1.2);
}
.fieldset>div{
    margin-top: 15px;
    transition: transform 2s;
}
.colorbotton{
    color: #1B1A17;
    background-color: #E45826;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: #E45826;
    margin-bottom: 15px;
}
/*** media mobile***/
@media (max-width:600px) {
    .navbar-nav a {
        float: none;
        width: 100%;
    }
    .header__img{
        width: 220px;
        height: 150px;
        margin-left: 15%;
        margin-top: 40px;
    }
    .header__slogan{
        margin-right: 20px;
        font-size: 20px;
        text-align: center;
    }
    h1{
        font-size: 40px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20%;
    }
    .pages__supersaleimg{
        width: 640px;
        height: 400px;
        margin-left: auto;
        margin-top: 40px;
    }
    .cuerpo__newarrivalsimg{
        width: 540px;
        height: 300px;
        margin-left: auto;
        margin-top: 40px;
    }
    .horarios{
        font-size: small;
    }
    .footervisit{
        font-size: small;
        margin-left: 15px;
    }
    .contactus{
        font-size: small;
    }
    .table{
        font-size: 12px;
        margin-left: 15px;
    }
    .footerimg{
        width: 120px;
        height: 120px;
        margin-left: 15px;
        margin-top: 20px;
    }
}
